.schools, .lecturers, .date {
    display: block;
    margin-right: 30px;
}

.lecturerName, .school, .start, .end {
    height: 18px;
}

.school {
    width: 177px;
    height: 22px;
}

input, select {
    outline: none;
}

.search__form {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    padding: 30px 0;
}

@media screen and (max-width: 800px){
    .search__form {
        display: block;
        width: 360px;
        text-align: center;
        margin: 0 auto;
    }
    .school {
        width: 230px;
        height: 22px;
    }
    .lecturerName{
        width: 224px;
    }

    .start, .end {
        width: 100px;
    }
}
