.table{
    display: flex;
    width: 100%;
    background-color: #DCDCDC;
    padding: 20px 10px;
    border: 1px solid #696969;
}

.date {
    width: 8%;
}

.place {
    width: 20%;
}

.description {
    width: 44%;
}

.teachers {
    width: 20%;
}

.school {
    width: 8%;
}