/*.header {
    background-color: red;
    grid-area: header;
    padding: 15px 0;
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template: 1fr / 1fr minmax(auto, 1px) 1fr;
}

.nav {
    display: grid;
    grid-auto-flow: column;
}*/

.header {
}

/*.nav {
    display: flex;
    margin: 20px auto;
}*/

.schools, .lecturers, .date {
    display: block;
    margin-right: 30px;
}

.lecturerName, .school, .start, .end {
    height: 18px;
}

.school {
    width: 177px;
    height: 22px;
}

input, select {
    outline: none;
}

.search__form {
    display: flex;
    justify-content: center;
    padding: 50px 0;
}


