
.table {
    display: grid;
    grid-template-columns: 1fr 2fr 4fr 2fr 1fr;
    background-color: #DCDCDC;
    border: 1px solid #696969;
    padding: 20px 10px;
    box-sizing: border-box;
}

.description {
    color: #4682B4;
    font-weight: bold;
}

@media screen and (max-width: 800px){
    .table {
        display: grid;
        grid-template-columns: 3fr 2fr;
        background-color: #DCDCDC;
        border: 1px solid #696969;
        padding: 20px 5px;
    }
    .description {
        grid-column: 1/3;
    }
}

